<div class="overflow-x-auto bg-white">
  <div
    class="min-w-screen min-h-screen bg-white flex items-center justify-center font-sans overflow-hidden"
  >
    <div class="w-full lg:w-5/6 bg-white">
      <div class="bg-white shadow-md rounded my-6">
        <table class="min-w-max w-full table-auto">
          <thead>
            <tr
              class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal"
            >
              <th class="py-3 px-6 text-left">Moneda</th>
              <th class="py-3 px-6 text-left">Valor actual</th>
              <th class="py-3 px-6 text-center">24h %</th>
              <th class="py-3 px-6 text-center">7d %</th>
              <th class="py-3 px-6 text-center">Últimos 7 días</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light">

            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <div class="mr-2">
                    <img
                      src="https://s2.coinmarketcap.com/static/img/coins/64x64/1.png"
                      width="24"
                      height="24"
                    />
                  </div>
                  <span class="font-medium">Bitcoin</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium">$58,967</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium text-green-500">(Alza) 1.84%</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium text-red-500">(Baja) 1.05%</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <img
                    height="30%"
                    width="100px"
                    src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/usd/1.png"
                  />
                </div>
              </td>
            </tr>

            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <div class="mr-2">
                    <img
                      src="https://s2.coinmarketcap.com/static/img/coins/64x64/1027.png"
                      width="24"
                      height="24"
                    />
                  </div>
                  <span class="font-medium">Ethereum</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium">$2,125.07</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium text-green-500">(Alza) 0.35%</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium text-green-500">(Alza) 15.67%</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <img
                    height="30%"
                    width="100px"
                    src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/usd/1027.png"
                  />
                </div>
              </td>
            </tr>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <div class="mr-2">
                    <img
                      src="https://s2.coinmarketcap.com/static/img/coins/64x64/52.png"
                      width="24"
                      height="24"
                    />
                  </div>
                  <span class="font-medium">Ripple</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium">$0.98</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium text-green-500">(Alza) 16.99%</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium text-green-500">(Alza) 71.09%</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <img
                    height="30%"
                    width="100px"
                    src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/usd/52.png"
                  />
                </div>
              </td>
            </tr>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <div class="mr-2">
                    <img
                      src="https://s2.coinmarketcap.com/static/img/coins/64x64/7083.png"
                      width="24"
                      height="24"
                    />
                  </div>
                  <span class="font-medium">Uniswap</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium">$31.24</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium text-green-500">(Alza) 1.84%</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium text-green-500">(Alza) 9.05%</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <img
                    height="30%"
                    width="100px"
                    src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/usd/7083.png"
                  />
                </div>
              </td>
            </tr>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <div class="mr-2">
                    <img
                      src="https://s2.coinmarketcap.com/static/img/coins/64x64/1831.png"
                      width="24"
                      height="24"
                    />
                  </div>
                  <span class="font-medium">Bitcoin Cash</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium">$657.10</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium text-green-500">(Alza) 5.84%</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium text-green-500">(Alza) 24.09%</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <img
                    height="30%"
                    width="100px"
                    src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/usd/1831.png"
                  />
                </div>
              </td>
            </tr>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <div class="mr-2">
                    <img
                      src="https://s2.coinmarketcap.com/static/img/coins/64x64/3408.png"
                      width="24"
                      height="24"
                    />
                  </div>
                  <span class="font-medium">USD Coin</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium">$1.00</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium text-green-500">(Alza) 0.15%</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium text-green-500">(alza) 0.16%</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <img
                    height="30%"
                    width="100px"
                    src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/usd/1.png"
                  />
                </div>
              </td>
            </tr>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <div class="mr-2">
                    <img
                      src="https://s2.coinmarketcap.com/static/img/coins/64x64/74.png"
                      width="24"
                      height="24"
                    />
                  </div>
                  <span class="font-medium">Doge</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium">$0.06244</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium text-green-500">(Alza) 8.09%</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium text-green-500">(Alza) 12.05%</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <img
                    height="30%"
                    width="100px"
                    src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/usd/74.png"
                  />
                </div>
              </td>
            </tr>



          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
