<div class="overflow-x-auto bg-white">
  <div
    class="min-w-screen min-h-screen bg-white flex items-center justify-center font-sans overflow-hidden"
  >
    <div class="w-full lg:w-8/9 bg-white">
      <div class="bg-white shadow-md rounded my-10">
        <table class="w-full table-auto">
          <thead>
            <tr
              class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal"
            >
              <th class="py-3 px-6 text-left">Moneda</th>
              <th class="py-3 px-6 text-left">Valor actual</th>
              <th class="py-3 px-6 text-center">24h %</th>
              <th class="py-3 px-6 text-center">7d %</th>
              <th class="py-3 px-6 text-center">Últimos 7 días</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light">

            <tr class="border-b border-gray-200 hover:bg-gray-100" *ngFor = "let crypto of cryptos">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <div class="mr-2">
                    <img
                      src="{{crypto.logo_url}}"
                      width="24"
                      height="24"
                    />
                  </div>
                  <span class="font-medium">{{crypto.currency}}</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium">{{crypto.price | currency:'USD'}}</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium text-green-500">(Alza) 0.00%</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center">
                  <span class="font-medium text-red-500">(Alza) 0.00%</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <img
                    height="30%"
                    width="100px"
                    src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/usd/1.png"
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
